@using Clockwork.Model
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row padding-top-bottom-10px">
        <button type="button" id="btnRequestTimezone" class="btn btn-success">Get Current Time</button>
        <button type="button" id="btnShowModal" class="btn btn-primary" data-toggle="modal">Select Timezone to convert</button>
    </div>

    <div class="row">
        @(Html.Kendo().Grid<CurrentTimeQuery>()
                                      .Name("grid")
                                      .Columns(columns =>
                                      {
                                          columns.Bound(p => p.CurrentTimeQueryId).Title("Id").Width(50);
                                          columns.Bound(p => p.Time).Format("{0:dddd- MMMM dd, yyyy hh:mm tt}").Title("Time");
                                          columns.Bound(p => p.ClientIp).Title("Client IP").Width(150);
                                          columns.Bound(p => p.UTCTime).Title("UTC Time").Format("{0:dddd- MMMM dd, yyyy hh:mm tt}");
                                      })
                                      .HtmlAttributes(new { style = "height: 550px;" })
                                      .Filterable()
                                      .Scrollable()
                                      .Sortable()
                                      .Selectable()
                                      .Groupable()
                                      .Resizable(resize => resize.Columns(true))
                                      .Reorderable(reorder => reorder.Columns(true))
                                      .Pageable(pageable => pageable
                                          .Refresh(true)
                                          .PageSizes(new int[] { 10, 20, 50, 100 })
                                          .ButtonCount(5))
                                      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .PageSize(20)
                                          .Read(read => read.Action("GetAll", "Timezone"))
                                      )
                                      .ToolBar(a => a.Excel())
                                      .Excel(excel => excel
                                          .FileName("Clockwork.xlsx")
                                          .Filterable(true)
                                      ))
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Please Choose Timezone</h4>
            </div>
            <div class="modal-body">
                @(Html.Kendo().DropDownList()
                                              .Name("cmbTimezone")
                                              .HtmlAttributes(new { style = "width: 100%;" })
                                              .DataTextField("DisplayName")
                                              .DataValueField("Id")
                                              .Filter("contains")
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  {
                                                      read.Action("GetTimezoneList", "Timezone");
                                                  })
                                                      .ServerFiltering(false);
                                              })
                )

                <div id="divSuccessConvert" class="hidden">
                    <span>Client IP: </span>
                    <h4 id="txtCientIp"></h4> <br />

                    <span>Current time in selected timezone: </span>
                    <h4 id="txtCurrentTimeSelectedTimezone"></h4><br />

                    <span>UTC Time: </span>
                    <h4 id="txtUtcTime"></h4>
                    <hr />
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnGetSelectedTimezone" type="button" class="btn btn-primary">Get Current Time</button>
                <button id="btncloseModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        function requestTimezone(timezoneId) {
            var url = '@Url.Action("Get", "Timezone")?timezoneId=' + timezoneId;
            $.ajax({
                type: "GET",
                url: url,
                success: function(result) {
                    var grid = $("#grid").data("kendoGrid");
                    grid.dataSource.read();
                    
                    $("#divSuccessConvert").removeClass("hidden");
                    $("#txtCientIp").text(result.ClientIp);
                    $("#txtCurrentTimeSelectedTimezone").text(result.Time);
                    $("#txtUtcTime").text(result.UTCTime);

                    alert("Added new item in the table");
                },
                error: function(e) {
                    alert("error functionality here");
                }
            });
        } 

        $("#btnRequestTimezone").click(function() {
            requestTimezone("");
        });

        $("#btnGetSelectedTimezone").click(function () {

            var timezoneId = $("#cmbTimezone").val();
            requestTimezone(timezoneId);
        });
    
        $("#btnShowModal").click(function () {
            $("#divSuccessConvert").addClass("hidden");
            $('#myModal').modal('show');
        });
    })
</script>